<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"> <a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a></h3>
        <div class="mb-1 text-body-secondary">
            <time datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
                {{ page.date | date(format="%b %e, %Y") }}
            </time>
        </div>
        <p class="card-text mb-auto">
            {% if page.description %}
                {{ page.description }}
            {% else %}
                {{ page.summary }}
            {% endif %}
        </p>
        <a href="{{ page.permalink }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
        </a>
    </div>
</div>
