<!DOCTYPE html>
<html lang="{{ lang }}" data-bs-theme="auto">
<head>
{% include "meta/html.html" %}
<title>{{ page.title | default(value=config.title) }}</title>
<!-- <title>LiteGapps</title> -->
{% include "google/analytics.html" %}
{% include "meta/opengraph.html" %}
{% include "meta/seo.html" %}
{% include "framework.html" %}
<link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") }}" />
{% include "google/searchconsole.html" %}
{% include "style.html" %}
{% include "ads/head.html" %}
</head>
<body>
{% include "navbar.html" %}

<main>

{% block main %}
{% endblock %}

</main>
{% include "js.html" %} 
{% include "footer.html" %}
</body>
</html>
