<!DOCTYPE html>
<html lang="{{ lang | default(value="en") }}" data-bs-theme="auto">
<head>
    <title>{{ page.title | default(value=config.title) }}</title>
    {#- <title>LiteGapps</title> -#}
    {% include "partials/google/analytics.html" %}
    {% include "partials/meta/seo.html" %}
    {% include "partials/framework.html" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") }}" />

</head>
<body>
    {% include "partials/navbar.html" %}
    <main>
    
        {{ section.content | safe }}
    </main>
    
    {% include "partials/js.html" %}
    {% include "partials/footer.html" %}
</body>
</html>
